<div class="container">
  <div class="accion">
    <button routerLink="/agregar_libro" [routerLinkActive]="'active'">
      Agregar Libro +
    </button>
    <br />
    <br />
  </div>
  <div class="libros">
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51WnVqMZPrL._SX260_.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51Kwaw5nInL.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51kpPf4R0gL.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/41RoU166LLL.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/41TnpfVuXuL._SY346_.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/41jnU0V+cBL._SX260_.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51wijnc-Y8L.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/515X+RDM1LL._SX260_.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51HltaSN6KL.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51mnsvWii2L._SX260_.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51Ye3RtPC+L.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51x9kZZnIYL._SX260_.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://m.media-amazon.com/images/I/51a1ZpmA7cL._SX260_.jpg"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          React Explained: Your Step-by-Step Guide to React (2020 Edition)
        </h3>
      </div>
      <div class="autor"><h4>Autor: Zac Gordon</h4></div>
      <div class="paginas"><small><strong>Páginas:</strong>548</small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong>18 de marzo del 2020</small></div>
      <div class="sinopsis"> <p>
        React Explained is a fun and enjoyable introduction to React, which is
        the Javascript framework of choice for WordPress, Drupal, Magento, and
        thousands of developers.</p>
      </div>
    </div>

<!--
    <div class="card">
      <div class="img">
        <img
          src="{{this.addLibro.value.imagen}}"
          alt="portada"
        />
      </div>
      <div class="titulo">
        <h3>
          {{this.addLibro.value.titulo}}
        </h3>
      </div>
      <div class="autor"><h4>Autor: {{this.addLibro.value.autor}} </h4></div>
      <div class="paginas"><small><strong>Páginas:</strong> {{this.addLibro.value.paginas}} </small></div>
      <div class="fecha"><small><strong>Fecha de publicación:</strong> {{this.addLibro.value.fecha}} </small></div>
      <div class="sinopsis"> <p>
        {{this.addLibro.value.sinopsis}} </p>
      </div>
    </div>
  </div>
</div> -->
