
<!--<fa-icon [icon]="faCoffee"></fa-icon>-->
<footer class="footer">
  <div class="contac-form">
  <h3>Contactanos</h3>
  <form action="">
      <input type="text" placeholder="Nombre">
      <input type="text" placeholder="Correo">
      <input type="text" placeholder="Asunto">
      <textarea placeholder="Descripción" name="" id="" cols="30" rows="5"></textarea>

  </form>
  </div>

  <div class="social-media">
  <div class="facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-accessible-icon"></i>Facebook</a></div>
  <div class="twitter"><a href="#" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></div>
  <div class="linkedin"><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i>Linkedin</a></div>
  <div class="google"><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i>Google +</a></div>
  </div>

  <div class="sobre-nosotros">
  <div><img src="https://lh3.googleusercontent.com/-JgPtMViVUwI/WyDH-kWdQpI/AAAAAAAAAI8/KLiohHcFTI0UOMVDzOeGJbLJRgttTxLJgCEwYBhgLKtQDAL1OcqytbBsIPjYPZ0V1mc5CZ5jfXDuUnvenQycOT-yZQWxlN8p7avyAUkw_0OXpKhnzr3K_IPDGiUm1WhBoGxTfXdu7dwPORELvNFt84VjPImuRPuWVlCR3gms2O28xCNhEnkdH5AYdfg1blQOdnDNVbDnnvD2ihIOmmtDof5muivGQib4negb36D1qe1mBT_jU5X-DWFyUNzVOAlOkb2pdaHrEyw3-iI-K-shq8IhKQOCwcm_yRM3tYwtbRt5zG9MOePcG8ZdP-yJ-KrhvzfOcLAIsvMWBMJ046T7n5ddjgk1iiDRCumRQ18QOr0wvAhrgH_qNtwwwpDRgGkmhZFkSlYB05nEgrbUtbNuyOC3p9kwa7JvaqzCI_8rSfqAWkcbAn5s-RWH1rU1nNQETlVPMp3Rmgvbn2Axo5qKeSqi0b3DlKOSTs4T-cZ12NpRU39euG5YnNNK37MRd5CRPF_trq72qEEr4UbOcOCiR6pWzYcUkqliOE91mhCq5f_q14ci_P5JznecxIhdPr5EArmf7Cd9HgrCf9Y-1dcnqb6HpOZ8zx1uBP_mf4mfuQdR_e5yoTkWY_Ka1olU6MM3h-Ei6SNOwyH10XYG6LJkp4be7Aha4MIuY5v0F/w139-h140-p/IMG_0996.JPG" alt="user"></div>
  <p id="pp">
  Este sitio web fue desarrollado por Marlon Encarnación. Ingeniero de Software y Desarrollador Web con amplios conocimientos
  de tecnologías ligadas al Desarrollo Web Front End (HTML5, CSS3, JS…). Conocimientos avanzados de SEO o
  posicionamiento WEB. Todo lo antes escrito lo convierte en un profesional potencial para el desarrollo web del
  lado del cliente. Enriquecen su hoja de vida conocimientos intermedios de tecnologías usadas en el Desarrollo
  Web Back End (PHP, Mysql…)
  </p>
  </div>
  <div class="copy">
    <div class="frontend">
    <a href="#"><i class="fab fa-html5"></i></a>
    <a href="#"><i class="fab fa-css3-alt"></i></a>
    <a href="#"><i class="fab fa-js-square"></i></a>
    <a href="#"><i class="fab fa-angular"></i></a>
    <a href="#"><i class="fab fa-react"></i></a></div>
    <div class="backend">
    <a href="#"><i class="fab fa-php"></i></a>
    <a href="#"><i class="fab fa-vuejs"></i></a>
    <a href="#"><i class="fab fa-laravel"></i></a>
    <a href="#"><i class="fab fa-git-alt"></i></a></div>
    <div class="copy-copy">

        <small> &copy; {{title + ' ' + ano}} </small>

    </div>
    </div>

  </footer>
